<html>
  <head>
    <title>Django Girls blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <div>
      <p>published: 02.12.2017 3:28 PM</p>
      <h2><a href="">My first post</a></h2>
      <p>Dolor diam, sem turpis orci fermentum, velit ipsum dolor vel, purus libero malesuada nec erat. Pede ut et vehicula ut nascetur, est orci vestibulum nunc sed pede. Nam ut, donec ipsum lectus ut, sed wisi semper, vivamus aliquam nam cras hymenaeos, urna a felis.</p>
    </div>

    <div>
      <p>published: 02.12.2017 3:30 PM</p>
      <h2><a href="">My second post</a></h2>
      <p>Hendrerit a, eros vivamus sed at vestibulum et est. Ipsum vehicula ac non malesuada pede amet, orci pretium est, risus maecenas per sodales, euismod justo elit enim.</p>
    </div>
  </body>
</html>
